@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .b-d {
    @apply border border-solid border-black;
  }
  .b-w {
    @apply border border-solid border-white;
  }
  .img {
    @apply b-w lg:w-[180px] md:w-[160px] w-[130px] lg:h-[70px] md:h-[60px] h-[55px] bg-[#0D0D0D] rounded-lg py-4 px-3 border-white/20;
  }
}
